<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'css/font-awesome' %>
  <%= stylesheet_link_tag 'css/blank' %>

  <!-- fix: use script_tag  rails-style ??? -->
  <script src='js/jquery-2.0.3.min.js'></script>
  <script src='js/blank.js'></script>

  <%# = javascript_include_tag 'js/jquery-2.0.3.min.js' %>
  <%# = javascript_include_tag 'js/blank.js' %>
  <style>
    header > h1 {
      display: inline-block;
    }
    header > nav {
      display: inline-block;
    }
    header > nav > ul {
      list-style-type: none;
    }
    header > nav > ul > li {
      display:      inline;
      padding-left: 20px;
    }
  </style>
</head>
<body>

<header>
  <h1>
    <a href='/'>WRDashboard</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a href='/'>Feeds</a>
      </li>
      <li>
        <a href='/map.html'>Map</a>
      </li>
    </ul>
  </nav>
</header>

<div id='navwrap'>
<div id='nav'>
    <p>
      Last Update
    </p>
    <p class='small'>
      <% if site.fetched %>
        <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
      <% end %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions small' >
     <% site.feeds.each do |feed| %>
      <li>
        <%= link_to( image_tag('i/feed-icon-10x10.png'), feed.feed_url ) %>
        <%= link_to feed.title, feed.url %>
      </li>
     <% end %>
     </ul>

    <p>Planetarium</p>
    <ul class='planetarium small'>
      <li><a href='http://plutolive.herokuapp.com'>Planet Ruby</a></li>
      <li><a href='http://viennarb.herokuapp.com'>Planet vienna.rb</a></li>
    </ul>

    <p>Meta</p>
    <p class='small'>Powered by <a href='https://github.com/feedreader'>Pluto</a>; 
       Questions? Comments?
      Send them along to the <a href='http://groups.google.com/group/feedreader'>forum/mailing list</a>. Thanks!
    </p>
</div>
</div>


<div id='opts'>
  <div style='width: 100%; text-align: right;'>
   <img src='i/view-headlines.png' id='show-headlines' title='Show Headlines Only' width='24' height='24'>
   <img src='i/view-snippets.png' id='show-snippets'    title='Show Snippets' width='24' height='24'>
   <img src='i/view-standard.png' id='show-fulltext'    title='Show Full Text' width='24' height='24'>
  </div>
  <div style='width: 100%; text-align: right;'>
    Style |
      <%= link_to 'Standard', "#{site.key}.html" %> &bull;
      <%= link_to 'Cards', "#{site.key}.cards.html" %>
  </div>
</div>  


<h1><%= site.title %></h1>


<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>


<% if new_date %>
 <h2 class='new-date'>
  <%= item.published.strftime('%A, %d. %B %Y') %>
 </h2>
<% else %>
  <hr class='item-seperator'>
<% end %>


<article class='item'>

<% if new_feed %>
<h4 class='feed-title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>
<% end %>


<h3 class='item-title'>
 
 <i class='icon-caret-down item-collapse item-close item-opened'></i>
 <i class='icon-caret-right item-expand item-open item-closed'></i>
 <%= link_to item.title, item.url %>
</h2>

<div class='item-body'>

<div class='item-snippet'>
<!-- use 'smarter' algorithm for cutoff snippet text
   note: summary goes first; than try content -->
<% if item.summary %>
  <%= textify( item.summary )[0..400] %>
<% elsif item.content %>
  <%= textify( item.content )[0..400] %>
<% else %>
  -/-
<% end %>
</div>

<div class='item-content item-summary'>

<!-- todo: use sanitize or simplify or whitelist
   - todo/fix: check why summary can be nil/null
   note: content goes first; than try summary
 -->
<% if item.content %>
  <%= textify( item.content ) %>
<% elsif item.summary %>
  <%= textify( item.summary ) %>
<% else %>
  -/-
<% end %>
  
</div>

<div class='item-footer'>
   <%= item.published.strftime('%H:%M') %> &bull;
   <%= time_ago_in_words( item.published ) %>
</div>

</div><!-- item-body -->

</article><!-- item -->




<% end %><!-- each item -->


</body>
</html>
