!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title WRDashboard | Waterloo Regional Dashboard

    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/font-awesome.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/blank.css' }
    :css
      header > h1 {
        display: inline-block;
      }
      header > nav {
        display: inline-block;
      }
      header > nav > ul {
        list-style-type: none;
      }
      header > nav > ul > li {
        display:      inline;
        padding-left: 20px;
      }

  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map.html' } Map
    #content
      %h2.new-date= Time.new
      %ul
        - Pathname.glob('./feeds/**/*.ini').map { |x| x.basename('.ini') }.sort.each do |feed|
          %li
            %a{ href: "#{feed}.html" }= feed.to_s.capitalize
