!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title Map | WRDashboard | Waterloo Regional Dashboard

    %link{rel: 'stylesheet', href: 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.css', integrity: 'sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin: '' }
    :scss
      html, body {
        padding: 0;
        margin:  0;
        height:  100%;
        width:   100%;
      }
      #content {
        position: absolute;
        top:      55px;
        bottom:   0;
        width:    100%;
      }
      #map {
        height:   100%;
        overflow: hidden;
      }
      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav {
          ul {
            list-style-type: none;

            li {
              display:      inline;
              padding-left: 20px;
            }
          }
        }
      }

  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map.html' } Map
    #content
      #map

    %script{ src: 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.js', integrity: 'sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==', crossorigin: '' }
    %script{ src: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js' }
    %script{ src: 'https://code.jquery.com/jquery-1.11.0.min.js' }
    :javascript
      var accessToken = 'pk.eyJ1IjoiYWNhbnQiLCJhIjoiY2p4OGI3ajBpMGpmZTN6dXQ0dG5nNHN2ZiJ9.PxiiAZbSksP7TMhoau6McQ';
      var map = L.map('map');
      L.tileLayer(
        'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom:     18,
          id:          'mapbox.streets',
          accessToken: accessToken
      }).addTo(map);

      // Show the WR relation, and fix the view around it.
      $.ajax({
        url: "https://www.openstreetmap.org/api/0.6/relation/2062151/full",
        dataType: "xml",
        success: function (xml) {
          var layer = new L.OSM.DataLayer(xml, {
            styles: {
              color:       'red',
              fillColor:   '#f03',
              fillOpacity: 0.5,
            }
          }).addTo(map);
          map.fitBounds(layer.getBounds());
          map.setMaxBounds(layer.getBounds());
          map.setMaxBounds(layer.getBounds());
          map.setMinZoom(map.getZoom());
        }
      });

      // Click to find the lat/long
      var popup = L.popup();
      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(map);
      }
      map.on('click', onMapClick);
